.main-title {
  text-align: center;
}

.intro-message {
  text-align: center;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  margin: 0 auto;
  text-align: center;
}

.item--img {
  width: 300px;
  height: 300px;
}

.item--title {
  font-size: 20px;
}

.item--button {
  width: 150px;
  height: 30px;
}